version: '3.8'

services:
  db:
    image: postgres
    container_name: nestjs-pg
    volumes:
      - pgdata:/data/postgres
    restart: always
    ports:
      - 5432:5432
    env_file: .env
    environment:
      POSTGRES_PASSWORD: '${DATABASE_PASS}'
      POSTGRES_DB: '${DATABASE_NAME}'
      POSTGRES_USER: '${DATABASE_USER}'

  api:
    container_name: 'nestjs'
    build: .
    command: bash -c 'yarn start:dev'
    env_file: .env
    restart: always
    ports:
      - 3000:3000
    volumes:
      - .:/usr/app
    links:
      - db
    depends_on:
      - db

networks:
  backend:
    driver: bridge

volumes:
  pgdata:
    driver: local
